body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
@media (max-width: 576px) { 
  .button{
    background-color: #12ba58;
    color: #fff;
  }
 }

@media (min-width: 768px) {
  .bs-img{
    height: 250px; 
  }

  .button{
     background-color: teal;
     color: white;
  }
}
@media (min-width: 992px) {
  .bs-img{
    height: 250px;
  }
  .button{
     background-color: teal;
     color: white;
  }
}
@media (min-width: 1200px) {
  .bs-img{
    height: 250px;
  }
  .button{
     background-color: teal;  
     color: white;
  }
}
